<!-- about page -->
---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import {Image} from "astro:assets"

---

<Layout title="Unspoken Swag" subtitle='| About'>
	<Main>
        <div class="flex flex-col items-center">
            <h1 class="pb-3">Useless blogging for my own self satisfaction.</h1>
            <div class="flex justify-center">
                <Image
                    src="/images/wahoo.jpg"
                    alt="wahoo"
                    width={500}
                    height={500}
                />
            </div>
        </div>

	</Main>
</Layout>