<!-- Latest 4 posts -->
---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
---

<!-- title is the title on the tab -->
<Layout title="Unspoken Swag" subtitle=''>
	<Main>
	</Main>
</Layout>