---
// Layout/appearance of an individual blog post
// [...slug].astro => MarkdownPostLayout.astro

import { Image } from "astro:assets";
import Layout from "./Layout.astro"
const { frontmatter } = Astro.props;

---

<Layout title="Unspoken Swag" subtitle="| Blog">
    
    <!-- centers body to screen -->
    <body class="flex justify-center items-center h-screen">
        <!-- sets maximum width to about the middle third of the screen -->
        <div class="max-w-screen-mdlg mx-auto">

            <!-- justifies content to left -->
            <div class="flex flex-col">
                <p class="font-semibold">{frontmatter.title}</p>
                <p class="text-sm text-slate-500 font-semibold mb-4">{frontmatter.author}</p>
                <div class="font-light text-justify">
                    <slot /> 
                </div>
                <p class="text-sm text-slate-500 font-semibold my-6">{frontmatter.date.toString().slice(0,21)}</p>

            </div>
        </div>
    </body>


</Layout>
